<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "/shared/header" %>

<div class="container-fluid">
  <div class="row-fluid">
	<div class="span4">
	  <!--Sidebar content-->
	  <%= render '/tweets/form' %>
	</div>
	<div class="span8">
	  <!--Body content-->
	  <%= yield %>
	</div>
  </div>
</div>


</body>
</html>
